  h1{
     color: rgb(235, 88, 68);
 }
 
 h2{
     color: greenyellow;
 }


 body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15pt;
	color: #62a152;
	background-color: #50a0e6;
	margin: 10mm;
}

p {
	text-align: justify; 
     color: yellow;
}

table{
    text-align: bold;
    color: palevioletred;
}

ol{
    text-align: underline;
    color: white;
}